<div class="new-container container">
<%= form_for @article do |f| %>
  <p class="input-field">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "Enter title here" %>
  </p>
  <p class="input-field">
    <%= f.label :sub_title %>
    <%= f.text_field :sub_title%>
  </p>
  <p class="input-field">
    <%= f.label :start_date %>
    <%= f.text_field :start_date %>
  </p>
  <p class="input-field">
    <%= f.label :end_date %>
    <%= f.text_field :end_date %>
  </p>
  <p class="input-field z-depth-1">
    <%= f.label :content  %>
    <%= f.text_area :content, class: "mytextarea"%>
  </p>
  <p class="input-field z-depth-1">
    <%= f.label :readings  %>
    <%= f.text_area :readings, class: "mytextarea"%>
  </p>
  <p>
    <%= f.submit 'POST', :class => 'waves-effect waves-light btn' %>
  </p>

<% end %>
  </div>