<div class="container show-controller">
	<div class="card-content">
	  <div class="title ind-title">
	  <h4 class="main-title"><%= @article.title %></h4>
	  <h4 class="title sub-title margin-bottom"><%= @article.sub_title %></h4>
	  <span class="start-end">
		  <%= @article.start_date.strftime('%b %d')  %> - 
		  <%= @article.end_date.strftime('%b %d')  %>
		  </span>
	  </div>
	  <h2 class="subtitle">Description</h2>
	  <p class="article-content flow-text"><%= raw @article.content %></p>
	  <h2 class="subtitle">Main Text</h2>
	  <p class="article-content flow-text"><%= raw @article.readings %></p>
  </div>
  <div class="post-info card-action">
	  <% if logged_in? %>
	    <% if (admin? || current_user.id == @article.author.id) %>
		    <%= form_for @article, :html => {:class => "admin-button"}, method: :delete do |f| %>
          <%= f.submit 'delete', :class => 'admin-button delete-button' %>
        <% end %>
		    <a class="admin-button" href="/articles/<%=@article.id%>/edit">EDIT</a>
		  <% end %>
	  <% end %>
	          <% if logged_in? %>
	            <% if admin? %>
	              <a href='/articles/<%= @article.id %>/discussions' class="">NEW DISCUSSION</a>
	  					<% end %>
	  				<% end %>
  </div>
    <div class="tabs-col col s12">
      <ul class="tabs">
	      <% if @discussions %>
	  	    <% @discussions.each do |discussion| %>
		        <li class="tab col s3 discussion-link"><a href="/discussions/<%= discussion.id %>"><%= discussion.description %></a></li>
		        <% end %>
	        <% end %>
	        
      </ul>
    </div>        
</div>

<div class="comments">

</div>
