<div class="container">
  <h2 class="sign-up subtitle">Sign up</h2>

  <% if @errors %>
    <% @errors.each do |error| %>
      <div class="error_message"><%= error %></div>
    <% end %>
  <% end %>


  <%= form_for @user do |f| %>
  <p class="input-field register-field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </p>
  <p class="input-field register-field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </p>
  <p class="input-field register-field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>
  <p class="input-field register-field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p class="input-field register-field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p class="input-field register-field">
    <%= f.label :access_code %>
    <%= f.password_field :access_code %>
  </p>
  <p class="input-field create-button">
    <%= f.submit 'register', :class => 'waves-effect waves-light btn'%>
  </p>
<% end %>
</div>